awscli
boto3
click
docker==3.4.0
jinja2
keyring==8.7.0
keyrings.alt
pyyaml
requests
ruamel.yaml
# tabulate
# Multiline support was just to tabulate trunk, but it hasn't been release yet:
git+https://bitbucket.org/astanin/python-tabulate/commits/a93034a59f3e2787ad1114850c832147a20d9820
voluptuous
